<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>🛒 TechShop</h1>
        </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>
        <h2 style="text-align: center; margin-bottom: 1.5rem;">Авторизация</h2>
        <form method="POST" class="checkout-form">
            <div class="form-group">
                <label for="username">Имя пользователя (Логин):</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn" style="margin-bottom: 1rem;">Войти</button>
            <p style="text-align: center; margin: 0;">Нет аккаунта? <a href="{{ url_for('register') }}" style="color: #3498db; font-weight: bold;">Зарегистрироваться</a></p>
        </form>
    </main>
</body>
</html>